#app {
  display: grid;
  height: 700px;
  width: 1000px;
  grid-template-areas: 
  "header header header"
  "nav content adds"
  "nav content2 adds"
  "footer footer footer"
  ;

  grid-template-columns: 0.5fr 3fr 1fr;
}

#header, #footer {
  background-color: #9BCE1D;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}

#main {
  background-color: #F7F5D8
}

#article-1 {
  background-color: lightcoral;
  grid-area: content;
}

#article-2 {
  background-color: violet;
  grid-area: content2;
}

#nav {
  background-color: cornflowerblue;
  grid-area: nav;
}

#ad-area {
  background-color: cornflowerblue;
  grid-area: adds;
}
